{
    "address"             : "0.0.0.0",
    "port"                : 80,
    "thumbnailPorts"      : [8080, 8081, 8082, 8083, 8084, 8085, 8086, 8087, 8088, 8089],
	"zoomSpeed"           : "90",

    "thumbnailWidthHeight": [400, 400],
    "thumbnailCss"        : "width: 400px; height: 400px; border-radius: 4px;",
    "thumbBackgroundColor": "#242321",
    "galleryBackgroundCss": "background-color: oklch(0.2864 0.0038 82.79);",
    "selectionOutlineCss" : "outline-color: oklch(0.6588 0.1061 82.79);",
    "viewerBackgroundCss" : "background: radial-gradient(circle, oklch(0.1805 0.0038 82.79 / 1) 33%, oklch(0.2864 0.0038 82.79 / 0.95) 130%);",
    "autoPlayTimer"       : 9000,
    "cacheSeconds"        : 2678400,
    "root"                : "z:\\p",
    "autoStart"           : false,
    "allowDelete"         : true
}
