{
	"address"                 : "0.0.0.0",
	"allowDelete"             : false,
	"autoPlayTimer"           : 9000,
	"autoStart"               : false,
	"cacheSeconds"            : 2678400,
	"galleryBackgroundCss"    : "background-color: oklch(0.2864 0.0038 82.79);",
	"port"                    : 80,
	"root"                    : "N:\\Pictures",
	"selectionOutlineCss"     : "outline-color: oklch(0.6588 0.1061 82.79);",
	"thumbBackgroundColor"    : "#242321",
	"thumbnailCss"            : "width: 400px; height: 400px; border-radius: 4px;",
	"thumbnailPorts"          : [8080, 8081, 8082, 8083, 8084, 8085, 8086, 8087, 8088, 8089],
	"thumbnailWidthHeight"    : [400, 400],
	"videoThumbnailTimeStamps": ["00:00:10.000", "00:00:01.000"],
	"viewerBackgroundCss"     : "background: radial-gradient(circle, oklch(0.1805 0.0038 82.79 / 1) 33%, oklch(0.2864 0.0038 82.79 / 0.95) 130%);",
	"zoomSpeed"               : "90"
}
