body {
	background-color     : oklch(0.2864 0.0038 82.79);
	color                : #775d07;
	margin               : 0;
	font-size            : 24px;
	scrollbar-width      : auto;
	user-select          : none;
	background-repeat    : no-repeat;
	background-size      : contain;
	background-attachment: fixed;
}

body::-webkit-scrollbar {
	width: 20px;
}

body::-webkit-scrollbar-track {
	background: #1c1b19;
}

body::-webkit-scrollbar-thumb {
	background-color: #775d07;
	border-radius   : 3px;
}

.dirItem {
	display         : inline-block;
	min-width       : 400px;
	margin          : 20px;
	padding         : 10px;
	background-color: #00000030;
	border-radius   : 3px;
	outline-style   : solid;
	outline-offset  : 0;
	outline-width   : 4px;
	outline-color   : transparent;
	color           : #c09300;
}

@keyframes tn-fade {
	0%   { opacity: 70%; }
	100% { opacity: 30%; }
}

.tn {
	opacity       : 70%;
	color         : white;
	margin        : 3px;
	outline-color : transparent;
	outline-style : solid;
	outline-offset: 0;
	outline-width : 4px;
	width         : 400px; /* <-- *//*{thumbnailWidth}*/
	height        : 400px; /* <-- *//*{thumbnailWidth}*/
	border-radius : 4px;
}

.tn-fade {
	animation                : tn-fade .5s;
	animation-timing-function: ease;
	animation-direction      : alternate;
	animation-iteration-count: infinite;
}

#titleContainer {
	padding   : 30px;
	text-align: center;
}

#thumbnailContainer {
	display              : grid;
	grid-template-columns: repeat(auto-fill, 400px); /* <-- *//*{thumbnailWidth}*/
	gap                  : 10px;
	padding              : 10px;
	justify-content      : space-evenly;
}

#navigationContainer {
	text-align: center;
	font-size: 40px;
}

#navigationContainer > a, #navigationContainer > a:visited {
	text-decoration: none;
	color: inherit;
}

.selection-outline {
	outline-color: oklch(0.6588 0.1061 82.79);
}

#viewBox {
	visibility         : hidden;
	position           : fixed;
	top                : 0;
	right              : 0;
	bottom             : 0;
	left               : 0;
	z-index            : 9;
	display            : flex;
	background         : radial-gradient(circle, oklch(0.1805 0.0038 82.79 / 1) 33%, oklch(0.2864 0.0038 82.79 / 0.95) 130%);
	background-size    : cover;
	background-position: center;
}

#viewVideo {
	width     : 98vw;
	height    : auto;
	max-width : none;
	max-height: 98vh;
	object-fit: contain;
	margin    : auto;
	display   : none;
}

#viewImg {
	display      : block;
	margin       : auto;
	max-height   : 99%;
	max-width    : 99%;
	border-radius: 10px;
}

#autoPlayButton {
	position        : fixed;
	z-index         : 10;
	border-radius   : 10px;
	width           : 50px;
	height          : 50px;
	background-color: rgba(255,255,255,0.1);
	right           : 20px;
	bottom          : 20px;
}

#autoPlayButton .autoPlaying {
	background-color: rgba(255,0,0,0.3);
}
